/* Author: shredderwoods */
/* ---------------------------
	TAG RULES 
------------------------------*/
* {
	border: dashed 1px gray;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	color: #444;
	background-color: #EEE;
	background-image: url('images/bg.png');
	/* 0 margin needed otherwise browsers leave about 5 px on all sides */
	margin: 0px;
}

a {
	color: #444;
	text-decoration: none;
}

p {
	margin: 0px;
}

/* ---------------------------
	CLASS RULES 
------------------------------*/
.container {
	margin: auto;
	width: 100%;
}

.header {
	border: solid 0px #0ff;
}

/* Auto margin is needed to keep homeArt centrally aligned */
	.homeArt {
		margin: 100px auto 50px;
		width: 150px;
	}

	/* better to match img and its container widths */
		.homeArt img {
			width: 150px;
		}

	.heading {
		font-family: 'Marcellus SC', serif;
		font-size: 1.5em;
		letter-spacing: 4px;
		padding-bottom: 20px;
		text-align: center;
	}

.nav {
	background-color: #ddd;
	height: 40px;
	border: solid 0px #f0f;
	text-align: center;
}

/* Width and auto margin NOT needed here for center aligning UL */
/* Margin 0 helps UL get rid of a default margin it uses on top */
	.nav ul {
		margin: 0px;
		padding: 0px;
	}
	
/* If you don't do this styling below, the links will appear vertical with bullets */
/* IMP:  LI inherits the height and width of the inside A blocks  */
		.nav ul li {
			display: inline-block;
		}

/* Padding is given on the a element so that if we use hower effects on border or background it can
 display correclty... if we apply padding on the li element then borders etc on a will fall short
 of width/height etc. */

 /* IMP:  Top and Bottom padding here aligns the A element within LI vertically  */

			.nav ul li a {
				display: inline-block;
				padding: 9px 40px 8px;
			}

				.nav ul li a:link, .nav ul li a:visited {
				}
				
				.nav ul li a:hover, .nav ul li a:active {
					color:#09c;
					border-bottom: solid 1px #aaa;
				}

.footer {
	text-align: center;
	font-size: 0.8em;
	font-weight: 300;
	margin: auto;
	padding: 50px 0px;
	width: inherit;
	border: solid 0px #ff0;
	color: #ccc;
	background-color: #555;
}